<h1>Editing DomainTitle</h1>

<%= render "form", domain_title: @domain_title %>

<br>

<div>
  <%= link_to "Show this Domain title", @domain_titles %> |
  <%= link_to t("layouts.back_to_index"), domain_titles_path %>
</div>
