<h1>New Harami Vid</h1>

<%= render 'harami_vids/form', harami_vid: @harami_vid %> <%# "harami_vids/" required for access from HaramiVids::FetchYoutubeDataController %>

<%= link_to 'Back', harami_vids_path %>
