<h1>Editing Channel</h1>

<%= render "channels/form", channel: @channel %> <%# "channels/" required for access from Channels::FetchYoutubeChannelsController %>

<br>

<div>
  <%= link_to "Show this channel", @channel %> |
  <%= link_to t("layouts.back_to_index"), channels_path %>
</div>

