<h1>Editing SiteCategory</h1>

<%= render "form", site_category: @site_category %>

<br>

<div>
  <%= link_to "Show this site category", @site_category %> |
  <%= link_to t("layouts.back_to_index"), site_categories_path %>
</div>
