<h1>Urls <%= h1_note_editor_only(Harami1129, method: :index) %></h1>

<% urls = @urls %>

<div id="urls">
<%= render partial: 'layouts/urls_index', locals: {urls: @urls, with_parent: true, with_dates: true} %>

</div> <!-- div id="urls" -->

<br>

<% if can? :create, Url %>
 <div class="button_new">
  <%= button_to 'New Url', new_url_path, method: :get %>
 </div>
<% end %>


