<h1>Editing DomainName</h1>

<%= render "form", domain_name: @domain_name %>

<br>

<div>
  <%= link_to "Show this domain name", @domain_names %> |
  <%= link_to t("layouts.back_to_index"), domain_names_path %>
</div>
