
<%# Assumed instance variables: @hvma %>

<% timing = @hvma.timing %>

<%= turbo_frame_tag "timing_"+dom_id(@hvma) do %>
  <span class="timing-hms text-start">
    <% title_txt = "Original Vide URI at #{can?(:edit, HaramiVid) ? timing.inspect : timing} sec" %> <%# for Editor, "nil sec" may be displayed. For unauthenticated, it would be " sec" %>
    <% title_txt << "; HaramiVidMusicAssc(ID=#{@hvma.id})" if can?(:edit, HaramiVid) %>
    <%= link_to_youtube(sec2hms_or_ms(timing), @hvma.harami_vid.uri, timing, title: title_txt) %> <%# defined in application_helper.rb %> <%# Note: @harami_vid does not work in some cases... %>
  </span>
  <% if can? :edit, @hvma.harami_vid %>
    <%= button_to "Edit", edit_harami_vid_music_assocs_timing_path(@hvma), method: :get, form_class: "inline_form", class: "text-end", style: "display: inline-block; margin-top: -1em; padding-top: 0em; padding-bottom: 0em; margin-bottom: -1em;" %>
  <% end %>
<% end %>

