<h1>New EngageEventItemHow</h1>

<%= render "form", engage_event_item_how: @engage_event_item_how %>

<br>

<div>
  <%= link_to "Back to EngageEventItemHow index", engage_event_item_hows_path %>
</div>
