<h1>Editing ModelSummary: <%= @model_summary.modelname %></h1>

<%= render "form", model_summary: @model_summary %>

<div>
  <%= link_to "Show this ModelSummary", @model_summary %> |
  <%= link_to "Back to Index", model_summaries_path %>
</div>
