
<%= render @event %>

<div>
    <% if can? :update, @event %>
  <%= link_to "Edit this Event", edit_event_path(@event) %> |
    <% end %>
  <%= link_to t("layouts.back_to_index"), events_path %>

    <% if can? :destroy, @event %>
  <%= button_to "Destroy", @event, method: :delete %>
    <% end %>
</div>
