<h1>Editing Channel Type</h1>

<%= render "form", channel_type: @channel_type %>

<br>

<div>
  <%= link_to "Show this Channel Type", @channel_type %> |
  <%= link_to t("layouts.back_to_index"), channel_types_path %>
</div>
