<h1>Domains</h1>

<div id="domains">
<%= render partial: 'layouts/domains_index', locals: {domains: @domains, with_parent: true, } %>

</div>

<br>

<% if can? :create, Domain %>
 <div class="button_new">
  <%= button_to 'New Domain', new_domain_path, method: :get %>
 </div>
<% end %>

