<h1>New Anchoring (for Url)</h1>

<% new_turbo_tag = dom_id(Anchoring.new) %>  <%# "new_anchoring" %>
<%= turbo_frame_tag new_turbo_tag do %>
  <%= render 'form', artist: @anchorable, anchoring: @anchoring %>
<% end %>

