<h1>Something went wrong</h1>
<%# This page is displayed only after create (of ChannelOwner) fails, which should never happen when called from U/I, unless someone else simultaneously created in a split-milli-second timing the same ChannelOwner with the same Artist. %>
<p>Back to <%= @artist ? link_to('Artist', @artist) : link_to('Artist index', artists_path) %></p>
