<h1>Editing Harami1129</h1>

<p><span class="lead">To manually update, make sure to set <em>last_downloaded_at</em> <strong>after</strong> <em>ins_at</em>.</span></p>

<%= render 'form', harami1129: @harami1129 %>

<%= link_to 'Show', @harami1129 %> (or insert within) |
<%= link_to 'Back', harami1129s_path %>

