<h1>New Channel Owner</h1>

<p>
  Here, input <strong>either the language information</strong> or <strong>search for an existing Artist</strong> in the form <em>Artist name</em> below the checkbox &quot;<tt>Themselves?</tt>&quot;.
</p>
<%= render "form", channel_owner: @channel_owner %>

<br>

<div>
  <%= link_to "Back to channel owners", channel_owners_path %>
</div>
