/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require datagrid
 *= require_self
 *
 * NOTE: In toastr_rails from https://github.com/d4be4st/toastr_rails
 *   it tells you to write "require toastr_rails", but it raises an Error (not finding CSS-type file)
 *   Instead, write @import in the main code as follows, referring to https://stackoverflow.com/a/59347044/3577922
 */

//@import 'bootstrap/scss/bootstrap';
// In Rails-7, this is moved to (followed by another line) app/assets/stylesheets/application.bootstrap.scss

@import "toastr/toastr";

/**
div.toast-error {
  margin-left: 1em;
  margin-right: 1em;
  width: 98%;
}
**/

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #222; /* original #fff */
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #eee;  /* original 000 */
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #333388; /* original #FFFCB2; */
    }

    /* In this version (jquery-ui-dist-1.12.1), it seems div is used as opposed to a:
     *
     *  <li class="ui-menu-item">
     *    <div id="ui-id-2" tabindex="-1" class="ui-menu-item-wrapper">OneCandidate</div>
     *  </li>
     *
     * Note that the current jQuery version is 3.5.1, whereas jquery-ui-dist-1.12.1 is used
     * on this site so far.
     */
    div.ui-menu-item-wrapper {
      color: #eee;
      display: block;
      padding: 3px;
    }
    div.ui-state-hover, a.ui-state-active {
      background-color: #333388;
    }
  }
}

table {
  /* Default */
  /* color: black; */
  background-color: #ff9999;
  border-collapse: collapse;
  border: 1px solid white;
  th, td {
      border: 1px solid white;
  }
  th {
      text-align: center;
      background-color: #ff6666;
  }
  th.middle_row {
      background-color: #ffcccc;
  }
  td.cell_show {
      border-right-style: none;
  }
  td.cell_edit {
      border-left-style: none;
      border-right-style: none;
  }
  td.cell_destroy {
      border-left-style: none;
  }
}

table.datagrid {
  background-color: #ff9999;
  thead tr th {
      background-color: #bbbbbb;
  }
  tbody {
      background-color: #dd9999;
  }
  tr th.ordered {
      background-color: #ffaaaa;
  }
  tr td.ordered {
      background-color: #ffaaaa;
  }
}

form {
    margin-left: 1rem;
    padding-bottom: 1rem;
}

form.datagrid-form {
  background-color: #bbbbbb;
}

form.inline_form {
  display: inline;
}

form div.field input[type="text"] {
  min-width: 40em;
}

form div.field textarea {
  min-width: 99%;
}

form input.input_year {
  min-width: 9em;
  max-width: 10em;
}

form div.field input[type="text"].input_int {
  min-width: 10em;
  max-width: 12em;
}

form div.field input[type="text"].input_float {
  min-width: 10em;
  max-width: 15em;
}

input[type="radio"] {
  margin-left: 0.8em;
}

form div.register_assoc_artist h4 {
  margin-top: 0.4em;
  margin-bottom: 0.1em;
}

form div.register_assoc_artist div.new_artist_link p {
  margin-left: 1em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: smaller;
  text-color: red;
}

form div.register_assoc_artist_field {
  margin-left: 1em;
  margin-bottom: 1em;
}

form table tr td input[type="radio"] {
  /* display: table-cell; */
  /* display: inline-flex; */
  /* text-align: center; */      /* this does nothing (but that for <td> is critical) */
  /* vertical-align: middle; */  /* this does nothing (but that for label is critical) */
}

form table tr td label {
  vertical-align: middle;  /* with this, the radio button is placed vertically in the middle. */
}

dl {
    margin-left: 1rem;
    dd {
        margin-left: 2rem;
    }
}

div#navbar_top {
  background-color: #660000;
  a:visited {
      color: #9999ff;
  }
  text-align: right;
}

.alert {
  margin-top: 0.3em;
  margin-left:  1em;
  margin-right: 1em;
}

.text_thinner1 {
  color: #aaaaaa;
}
.text_thinner2 {
  color: #cccccc;
}

table#places_in_prefecture td:nth-child(4), table#places_in_prefecture td:nth-child(5), table#places_in_prefecture td:nth-child(6) {
  text-align: right;
}

/* datagrid */
div.datagrid-filter {
  input[type="checkbox"] {
    margin-left: 0.7em;
  }
}

/* pagination */
nav.pagination {
  span.page, span.first, span.prev, span.next, span.last, {
    padding-left: 3px;
    padding-right: 3px;
  }
}

