/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require datagrid
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #222; /* original #fff */
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #eee;  /* original 000 */
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #333388; /* original #FFFCB2; */
    }

    /* In this version (jquery-ui-dist-1.12.1), it seems div is used as opposed to a:
     *
     *  <li class="ui-menu-item">
     *    <div id="ui-id-2" tabindex="-1" class="ui-menu-item-wrapper">OneCandidate</div>
     *  </li>
     *
     * Note that the current jQuery version is 3.5.1, whereas jquery-ui-dist-1.12.1 is used
     * on this site so far.
     */
    div.ui-menu-item-wrapper {
      color: #eee;
      display: block;
      padding: 3px;
    }
    div.ui-state-hover, a.ui-state-active {
      background-color: #333388;
    }
  }
}

table {
  /* Default */
  /* color: black; */
  background-color: #ff9999;
  border-collapse: collapse;
  border: 1px solid white;
  th, td {
      border: 1px solid white;
  }
  th {
      background-color: #ff6666;
  }
  th.middle_row {
      background-color: #ffcccc;
  }
  td.cell_show {
      border-right-style: none;
  }
  td.cell_edit {
      border-left-style: none;
      border-right-style: none;
  }
  td.cell_destroy {
      border-left-style: none;
  }
}

table.datagrid {
  background-color: #ff9999;
  thead tr th {
      background-color: #bbbbbb;
  }
  tbody {
      background-color: #dd9999;
  }
}

form {
    margin-left: 1rem;
}

form.datagrid-form {
  background-color: #bbbbbb;
}

form.inline_form {
  display: inline;
}

dl {
    margin-left: 1rem;
    dd {
        margin-left: 2rem;
    }
}

div#navbar_top {
  background-color: #660000;
  a:visited {
      color: #9999ff;
  }
  text-align: right;
}

