/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require datagrid
 *= require_self
 *
 * NOTE: In toastr_rails from https://github.com/d4be4st/toastr_rails
 *   it tells you to write "require toastr_rails", but it raises an Error (not finding CSS-type file)
 *   Instead, write @import in the main code as follows, referring to https://stackoverflow.com/a/59347044/3577922
 */

//@import 'bootstrap/scss/bootstrap';
// In Rails-7, this is moved to (followed by another line) app/assets/stylesheets/application.bootstrap.scss

@import "toastr/toastr";

/**
div.toast-error {
  margin-left: 1em;
  margin-right: 1em;
  width: 98%;
}
**/

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #222; /* original #fff */
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #eee;  /* original 000 */
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #333388; /* original #FFFCB2; */
    }

    /* In this version (jquery-ui-dist-1.12.1), it seems div is used as opposed to a:
     *
     *  <li class="ui-menu-item">
     *    <div id="ui-id-2" tabindex="-1" class="ui-menu-item-wrapper">OneCandidate</div>
     *  </li>
     *
     * Note that the current jQuery version is 3.5.1, whereas jquery-ui-dist-1.12.1 is used
     * on this site so far.
     */
    div.ui-menu-item-wrapper {
      color: #eee;
      display: block;
      padding: 3px;
    }
    div.ui-state-hover, a.ui-state-active {
      background-color: #333388;
    }
  }
}

h1 {
  min-margin-left: 0;
  margin-left: 0.3em;
}

div#error_explanation {
  margin-left: 2em;
}

.font-smaller {
  font-size: smaller;
}

.align-c {  /* text-center in Bootstrap 5 */
  text-align: center;
}
.align-r {  /* text-end in Bootstrap 5 */
  text-align: right;
}

th.align-cr {
  text-align: center;
}
td.align-cr {
  text-align: right;
}
td.align-r-padding3 { /* Use when the <td> cell is likely to be much wider than the right-aligned content */
  padding-right: 0.3em;
}

table {
  /* Default */
  /* color: black; */
  background-color: #ff9999;
  border-collapse: collapse;
  border: 1px solid white;
  th, td {
      border: 1px solid white;
  }
  th.number, td.number {  /* th.number would be rarely used */
      text-align: right;
  }
  th {
      text-align: center;
      background-color: #ff6666;
  }
  th.middle_row {
      background-color: #ffcccc;
  }
  td.merged_column {
    background-color: #ff8484;
  }
  td.cell_show {
      border-right-style: none;
  }
  td.cell_edit {
      border-left-style: none;
      border-right-style: none;
  }
  td.cell_destroy {
      border-left-style: none;
  }
  td span.cell_disable_link {
      color: #947979;
      font-size: smaller;
  }
  td.checkbox_destroy {
      text-align: center;  /* not work (with Firefox at least) */
  }
  td.trans_destroy {
      padding-left: 1em;
  }
  th.actions, td.actions {
      min-width: 2.1em;  /* so that "詳細" is not split into 2 lines */
  }
}

form div.datagrid-filter input.string_filter {
    min-width: 30em;
}
form div.datagrid-filter input#harami_vids_grid_title_ja, form div.datagrid-filter.filter input#harami_vids_grid_title_en {
    width: 80em;
}

table.datagrid {
  background-color: #ff9999;
  thead tr th {
      background-color: #bbbbbb;
  }
  tbody {
      background-color: #dd9999;
  }
  tr th.ordered {
      background-color: #ffaaaa;
  }
  tr td.ordered {
      background-color: #ffaaaa;
  }
}

table.all_registered_translations {
  td.ruby {
    padding-left: 0.3em;
  }
}

table.table_string td {
    max-width: 30em;
}

form {
    margin-left: 1rem;
    padding-bottom: 1rem;
}

form.datagrid-form {
  background-color: #bbbbbb;
}

form.inline_form {
  display: inline;
  display: inline-block;
}

form div.field input[type="text"] {
  min-width: 40em;
}

form div.field textarea {
  min-width: 99%;
}

form div.field {
  input[type="text"].input_shortest {
    min-width: 4em;
    max-width: 5em;
  }

  input[type="text"].input_year, input[type="text"].input_shorter {
    min-width: 9em;
    max-width: 10em;
  }

  input[type="text"].input_int, input[type="text"].input_short {
    min-width: 10em;
    max-width: 12em;
  }

  input[type="text"].input_float, input[type="text"].input_middle {
    min-width: 10em;
    max-width: 15em;
  }
}

input[type="text"].input_12em {
    min-width:    6em;
    max-width: 11.5em;
}

input[type="submit"] {
  margin-top: 1em;
}

input[type="radio"] {
  margin-left: 0.8em;
}

form div.register_assoc_artist h4 {
  margin-top: 0.4em;
  margin-bottom: 0.1em;
}

form div.register_assoc_artist div.new_artist_link p {
  margin-left: 1em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: smaller;
  text-color: red;
}

form div.register_assoc_artist_field {
  margin-left: 1em;
  margin-bottom: 1em;
}

form table tr td input[type="radio"] {
  /* display: table-cell; */
  /* display: inline-flex; */
  /* text-align: center; */      /* this does nothing (but that for <td> is critical) */
  /* vertical-align: middle; */  /* this does nothing (but that for label is critical) */
}

form table tr td label {
  vertical-align: middle;  /* with this, the radio button is placed vertically in the middle. */
}

dl {
    margin-left: 1rem;
    dd {
        margin-left: 2rem;
    }
}

div#navbar_top {
  background-color: #660000;
  a:visited {
      color: #9999ff;
  }
  text-align: right;
}

p#footer_login {
  margin-top: -2.5em;
  text-align: right;
}

.alert {
  margin-top: 0.3em;
  margin-left:  1em;
  margin-right: 1em;
}

.text_thinner1 {
  color: #aaaaaa;
}
.text_thinner2 {
  color: #cccccc;
}

table#places_in_prefecture td:nth-child(4), table#places_in_prefecture td:nth-child(5), table#places_in_prefecture td:nth-child(6) {
  text-align: right;
}

/* datagrid */
div.datagrid-filter {
  input[type="checkbox"] {
    margin-left: 0.7em;
  }
}

/* pagination */
nav.pagination {
  span.page, span.first, span.prev, span.next, span.last, {
    padding-left: 3px;
    padding-right: 3px;
  }
}

div.pagenation_stats, p.pagenation_stats { 
    /* e.g.,  第1頁 (1—10)/224 [全登録数: 224] */
}

div.actions-destroy-align-r {
  margin-right: 1em;
  text-align: right;
}

/* ********************************************************* */
/*   Simple_form    */
/* ********************************************************* */
/* input[type="text"] { */
:root {
  --form-bg-color: navy;
  --form-bg-color-focus: blue;
  --form-bg-radio-opacity: 0.7;
  --form-border-width: medium;
  --form-border-width-focus: thick;
}

.form-control  {
  background:   var(--form-bg-color);
  border-width: var(--form-border-width);
}
.form-control:focus  {
  background: var(--form-bg-color-focus);
}
form div.form_new_model_info{
  padding-left: 3em;
}

input.form-control  {
    min-width: 10em;
  background: var(--form-bg-color);  /* without this, the fields would be transparent */
  border-width: var(--form-border-width);
}
input.form-control:focus  {
  background: var(--form-bg-color-focus);
  border-width: var(--form-border-width-focus);
}

input.form-control.is-invalid {
  border-width: var(--form-border-width-focus);
}
input[type="number"].form-control, input[type="color"].form-control, input[type="tel"].form-control, select.form-control.date {
    max-width: 20em;
}
input[type="text"].form-control.string {
    max-width: 50em;
}
.longtext input[type="text"].form-control {
    height: 5em;  /* 3.5 lines */
    max-width: 5000em;
}

input[type="radio"].form-check-input {
}

/*
 <div class="form-group float required engage_how_weight form-group-valid">
   <label title="Lower means a higher priority." class="float required" for="engage_how_weight">Weight <abbr title="必須">*</abbr></label>
   <input class="form-control is-valid numeric float required" title="Lower means a higher priority."
          placeholder="Lower means a higher priority."
          type="number" step="any" value="999.0" name="engage_how[weight]" id="engage_how_weight"></div>
*/

textarea.form-control {
    height: 6em;  /* 3.5 lines */
  background: var(--form-bg-color);
  border-width: var(--form-border-width);
}
textarea.form-control:focus {
  background: var(--form-bg-color-focus);
  --form-border-width-focus: thick;
}
/* <div class="form-group text optional engage_how_note"><label class="text optional" for="engage_how_note">Note</label>
   <textarea class="form-control text optional" name="engage_how[note]" id="engage_how_note"></textarea></div>
 */

select.form-control  {
    min-width: 10em;
    max-width: 50em;
  background: var(--form-bg-color);
}
select.form-control:focus  {
  background:   var(--form-bg-color-focus);
  border-width: var(--form-border-width);
}

fieldset.form-group.radio_buttons, fieldset.form-group.check_boxes {
    max-width: 40em;
  /* border-width: thick;
     border-color: red; */ /* not working... */
  background-color: var(--form-bg-color);
  opacity:          var(--form-bg-radio-opacity);
  margin-top: 0.5em;
}
fieldset.form-group.radio_buttons.harami_vid_form_new_artist_collab_event_item, fieldset.form-group.check_boxes.harami_vid_event_items {
    max-width: 500em;
}

fieldset.form-group.radio_buttons legend {
  background-color: #2f93c4;
  opacity: 1.0;
  padding-bottom: 0.1em;
}
fieldset.form-group.radio_buttons div.form-check input[type="radio"] {  /* div.form-check:  not present?? */
  /* to prevent the first radio-button (only for langcode!!) displayed at the right edge in the previous line. I don't know why this is necessary... => "item_wrapper_class: 'inline'" solved this and so these are now commented out... */
/*  display: inline-block;
  margin-left: 0;
  margin-right: 0.5em; */
}
fieldset.form-group.radio_buttons div.inline input[type="radio"].form-check-input {
}

a.button_like {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  /* taken from https://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button */
}

.editor_only, label[for*="_grid_id"], label[for*="_grid_column_names_id"], label[for*="_grid_column_names_n_amps"], label[for*="_grid_column_names_updated_at"], label[for*="_grid_column_names_created_at"], section#sec_harami1129s_for {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}
.moderator_only {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
.admin_only {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

/*
<fieldset class="form-group radio_buttons required translation_is_orig">
 <legend class="col-form-label pt-0">これが原語か? (注: 「冷蔵庫」などの一般名詞はUndefined)
 <abbr title="必須">*</abbr></legend>
 <input type="hidden" name="translation[is_orig]" value="" autocomplete="off">
 <div class="form-check">
  <input class="form-check-input radio_buttons required" required="required" aria-required="true" type="radio" value="1" name="translation[is_orig]" id="translation_is_orig_1">
  <label class="form-check-label collection_radio_buttons" for="translation_is_orig_1">Yes</label>
 </div>
 <div class="form-check">
  <input class="form-check-input radio_buttons required" required="required" aria-required="true" type="radio" value="0" name="translation[is_orig]" id="translation_is_orig_0">
  <label class="form-check-label collection_radio_buttons" for="translation_is_orig_0">No</label>
 </div>
 <div class="form-check">
  <input class="form-check-input radio_buttons required" required="required" aria-required="true" type="radio" value="-99" checked="checked" name="translation[is_orig]" id="translation_is_orig_-99">
  <label class="form-check-label collection_radio_buttons" for="translation_is_orig_-99">Undefined</label>
 </div>
</fieldset>
*/
