<h1>Editing Instrument</h1>

<%= render "form", instrument: @instrument %>

<br>

<div>
  <%= link_to "Show this Instrument", @instrument %> |
  <%= link_to t("layouts.back_to_index"), instruments_path %>
</div>

