<h1>Editing engage event item how</h1>

<%= render "form", engage_event_item_how: @engage_event_item_how %>

<br>

<div>
  <%= link_to "Show this engage event item how", @engage_event_item_how %> |
  <%= link_to "Back to engage event item hows", engage_event_item_hows_path %>
</div>
