<% if model.errors.any? %>
  <% modelname ||= model.class.name %>  <%# Model name to display %>
  <div id="error_explanation" class="<%= ApplicationController::FLASH_CSS_CLASSES[:alert] %>">
    <h2><%= errors_txt = pluralize_i18n(model.errors.count, :error, default: "error")
            I18n.t("layouts.error_in_save", errors: errors_txt, model: modelname, default: "%{errors_txt} prohibited this %{model} from being saved") %>:</h2>

    <ul id="error_explanation_list">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

