<%# local vars: model, can_update %>
<%# NOTE: returns 3 lines of "td" for a table %>

  <% tit_ja = best_translation_with_asterisk(model, is_orig_char: (can_update ? "*" : nil), langcode: "ja", lang_fallback: false, str_fallback: "") %> <%# defined in application_helper.rb %>
  <td class="text-start title-ja"><%= tit_ja %></td>
  <td class="text-start alt_title-ja"><%= model.alt_title(langcode: 'ja', lang_fallback: false, str_fallback: "") %></td>
  <% tit_en = best_translation_with_asterisk(model, is_orig_char: (can_update ? "*" : nil), langcode: "en", lang_fallback: true, str_fallback: "", fallback_except: "ja") %>
  <% tit_en = sprintf("<em>[%s]</em> %s", tit_en.lcode, tit_en).html_safe if tit_en.present? && "en" != tit_en.lcode %>
  <td class="text-start titles-en"><%= tit_en %>
      <%= bracket_or_empty("[%s]", model.alt_title(langcode: 'en', lang_fallback: false, str_fallback: ""), can_update) %></td> <%# defined in application_helper.rb %>

